In [11]:
import iofunctions as iof
import os
import pandas as pd

datafolder = "data"

spinefiles = iof.list_files(datafolder,"csv")
MergedSpineData = pd.DataFrame()
for spinefile in spinefiles:
    location = os.path.join(datafolder, spinefile)
    try:
        SingleSpineData = pd.read_csv(location, index_col=13)
        MergedSpineData = pd.concat([MergedSpineData, SingleSpineData])
    except:
        print(spinefile)


SpineLengthMixed = MergedSpineData[MergedSpineData.Variable == "Spine Length"]
SpineLengthMixed.tail()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Variable</th>
      <th>Value</th>
      <th>Unit</th>
      <th>Category</th>
      <th>Channel</th>
      <th>Collection</th>
      <th>Depth</th>
      <th>Distance</th>
      <th>Level</th>
      <th>Radius</th>
      <th>Time</th>
      <th>Type</th>
      <th>FilamentID</th>
      <th>Unnamed: 14</th>
    </tr>
    <tr>
      <th>ID</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1250700000001</th>
      <td>Spine Length</td>
      <td>1.603380</td>
      <td>um</td>
      <td>Spine</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1</td>
      <td>NaN</td>
      <td>100000125.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1260700000000</th>
      <td>Spine Length</td>
      <td>0.676481</td>
      <td>um</td>
      <td>Spine</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1</td>
      <td>NaN</td>
      <td>100000126.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1270700000000</th>
      <td>Spine Length</td>
      <td>0.707567</td>
      <td>um</td>
      <td>Spine</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1</td>
      <td>NaN</td>
      <td>100000127.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1280700000000</th>
      <td>Spine Length</td>
      <td>0.823068</td>
      <td>um</td>
      <td>Spine</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1</td>
      <td>NaN</td>
      <td>100000128.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1290700000000</th>
      <td>Spine Length</td>
      <td>1.351790</td>
      <td>um</td>
      <td>Spine</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1</td>
      <td>NaN</td>
      <td>100000129.0</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>